files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_console_actions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      echo 'changing to $EB_APP_STAGING_DIR dir:' $EB_APP_STAGING_DIR
      cd $EB_APP_STAGING_DIR
      ls
      echo 'removing dev entry points'
      rm web/app_dev.php && rm web/config.php
      echo 'running doctrine commands'
      ./app/console doctrine:database:create --if-not-exists
      ./app/console doctrine:schema:create -q || { status $?; echo 'schema already exists'; }
      ./app/console doctrine:schema:update -q || { status $?; echo 'schema up-to-date'; }

commands:
  01_update_composer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /web
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: composer_options
    value: --optimize-autoloader
